{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User Avatar">
                            </div>
                            <h5 class="user-name" id="user-name">{{ form.full_name.value|default:"Nombre Usuario" }}</h5>
                            <h6 class="user-email">{{ form.email.value|default:"user@example.com" }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Información</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_full_name">Nombre Completo</label>
                                    <input type="text" class="form-control" id="id_full_name" name="full_name" value="{{ form.full_name.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_phone">Teléfono</label>
                                    <input type="text" class="form-control" id="id_phone" name="phone" value="{{ form.phone.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_website">Website</label>
                                    <input type="url" class="form-control" id="id_website" name="website" value="{{ form.website.value }}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Dirección</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_street">Calle</label>
                                    <input type="text" class="form-control" id="id_street" name="street" value="{{ form.street.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_city">Ciudad</label>
                                    <input type="text" class="form-control" id="id_city" name="city" value="{{ form.city.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_state">Región</label>
                                    <input type="text" class="form-control" id="id_state" name="state" value="{{ form.state.value }}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_zip_code">Código Postal</label>
                                    <input type="text" class="form-control" id="id_zip_code" name="zip_code" value="{{ form.zip_code.value }}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-secondary">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
