{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User Avatar">
                            </div>
                            <h5 class="user-name" id="user-name">{{ form.full_name.value|default:"Nombre Usuario" }}</h5>
                            <h6 class="user-email">{{ user.email }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_full_name">Nombre Completo</label>
                                    {{ form.full_name }}
                                    {{ form.full_name.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_phone">Teléfono</label>
                                    {{ form.phone }}
                                    {{ form.phone.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_website">Sitio Web</label>
                                    {{ form.website }}
                                    {{ form.website.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_street">Calle</label>
                                    {{ form.street }}
                                    {{ form.street.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_city">Ciudad</label>
                                    {{ form.city }}
                                    {{ form.city.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_state">Región</label>
                                    {{ form.state }}
                                    {{ form.state.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_zip_code">Código Postal</label>
                                    {{ form.zip_code }}
                                    {{ form.zip_code.errors }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="id_email">Correo Electrónico</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-secondary">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
