<!DOCTYPE html>


{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <h2>Registrarse</h2>
            <form method="post"  novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                   <p> {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }} </p>
                </div>
                <div class="form-group">
                    <p>   {{ form.email.label_tag }} 
                    {{ form.email }}
                    {{ form.email.errors }} </p>
                </div>
                <div class="form-group">
                    <p>  {{ form.password1.label_tag }} 
                    {{ form.password1 }}
                    {{ form.password1.errors }} </p>
                </div>
                <div class="form-group">
                    <p>  {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }} </p>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Crear Cuenta</button>
            </form>
        </div>
    </div>
</div>

    


    


{% endblock %}